.not-found-page {
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    top: 250px;
}

.text-center {
    text-align: center;
}

.middle-box h1 {
    font-size: 170px;
}

.font-bold {
    font-weight: 600;
}

}