@import 'assets/styles/colors.scss';

/************SMART FRAME PAGE******************/
.smart-frame-page {
  .data-sources-sidebar {
    border-radius: 5px;
  }

  .data-source-list {
    .list-group-item {
      padding: 5px 10px;
      margin-left: 5px;
      opacity: .7;

      p {
        margin-bottom: 0;
      }

      a {
        text-decoration: none;
        color: #000000;
      }
    }

    .list-group-item:hover {
      margin-left: 0;
      opacity: 1;
      border-left: solid 5px $theme-color;
    }

    .list-group-item.active {
      opacity: 1;
      background-color: $theme-color;

      &:hover {
        background-color: $theme-color;
      }
    }
  }

  .find-more {
    color: $theme-color;
  }

  // .smart-frame-height {
  //   max-height: 450px;
  //   min-height: 250px;
  //   overflow: auto;
  // }

  // .smart-frame-variables {
  //   border: 1px solid $gray-color;
  //   border-radius: 5px;
  // }

  .variable-check-box-list {
    padding: 10px;
  }

  .variable-check-box {
    padding: 0px;
    border: solid 1px $gray-color;
    margin-bottom: 5px;
  }
 
}
.publish-smart-frame {
  
  .modal-title{
    margin: 0 auto;
  }
  .modal-footer{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    margin: 0 auto;
    text-align: center;
  }
  .btn-done{
    background: $theme-color;
  }
  .btn-download{
    background: $white-color;
    border: 1px solid $gray-color;
    padding: 1px 10px;
    margin: 0 auto;
  }
}
