@import 'assets/styles/colors.scss';

.react-check-box {
  .checkbox-label {
    padding: 0 2px 5px;
    font-size: $font-size-minimal;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    vertical-align: baseline;
  }

  .check-box-label {
    display: -ms-flexbox;
    display: -webkit-box;
    display: box;
    margin-bottom: 0;
  }

  .checkbox-label-type {
    padding: 5px;
    font-size: $font-size-minimal;
    color: $white-color;
    background: $theme-color;
  }

  .React__checkbox {
    // display: table-cell;
  }

  .React__checkbox--input {
    display: none;
  }

  .React__checkbox--input {
    + span {
      color: red;
      display: flex;
      width: $checkboxSize;
      height: $checkboxSize;
      background: $uncheckedBG;
      align-items: center;
      justify-content: center;
      color: white;
      margin: 5px;
      border: 1px solid $theme-color;
      box-sizing: border-box;
      transition: all 150ms;
      border-radius: 50px;
      cursor: pointer;
    }

    &:checked {
      + span {
        border-width: $checkboxSize / 2;

        &::before {
          content: '\f00c';
          font-family: FontAwesome;
          font-size: .75em;
          color: $checkedColor;
          margin-left: -7px;
          margin-right: -7px;
        }
      }
    }

    &:disabled {
      + span {
        background: $disabledBG;
      }
    }
  }
}
