@import '../../assets/styles/colors.scss';

.rt-th {
  background-color: $theme-color !important;
  padding: 5px 0;
  color: $white-color !important;
}

.ReactTable {
  box-shadow: 0 2px 2px 0 $gray-color, 0 3px 1px -2px $gray-color, 0 1px 5px 0 $gray-color;
  border-radius: 10px;
}

.datasource-preview-data .ui-datatable-tablewrapper {
  max-height: 230px;
}

.ui-datatable th.ui-state-default {
  background: $theme-color !important;
  color: $white-color !important;
}

.ui-datatable-resizable tbody td,
.ui-datatable-resizable tfoot td,
.ui-datatable-resizable thead th {
  white-space: normal;
}

.ui-datatable-tablewrapper {
  overflow: auto;
  max-height: calc(100vh - 250px);
}
.column-division{
  width: 205px;
  // max-width: 400px;
  word-wrap: break-word;
}
.ui-datatable table{
  width: 100% !important;
}
.column-division{
  word-break: break-all;
}
.ui-unselectable-text.column-division{
  padding:2px 0!important;

}
// .ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td
// {
//   // min-width: 120px;
//   // width: 180px;
// }

// .ui-cell-data{
//    word-wrap: break-word;
// }
// .ui-datatable table {
//   // white-space: nowrap;
//   word-wrap: break-word;
// }
// .ui-datatable {
//   overflow: auto;
// }
// table {
//   table-layout: auto !important;
//   overflow-y: scroll;
// }
// .ui-cell-data {
// word-wrap: break-word;
//   white-space: nowrap;
// }
// .ui-widget-content td,
// th.ui-state-default {
//   word-wrap: break-word;
// }
// .ui-datatable-resizable tbody td,
// .ui-datatable-resizable tfoot td,
// .ui-datatable-resizable thead th {
//   white-space: unset;
// }
