@import 'assets/styles/colors.scss';
@mixin borderBottom {
  border-bottom: 2px solid $gray-color;
}
@media (min-width: 768px) {
  .tabs-wrapper {
    height: 61px;
  }

  [class*="fixed-nav-tabs"] {
    z-index: 9;
    background-color: $body-background;
    margin-top: 0;
  }

  .filter-sidebar {
    position: fixed !important;
  }

  .design-smart-frame {
    position: fixed;
    width: 100vw;
    margin-top: 4px;
    @include borderBottom;
    z-index: 9999;
    background-color: $body-background;
  }

  .fixed-nav-tabs {
    margin-top: 15px;
  }

  .nav-tabs {
    border: none !important;
  }
}
/************DASHBOARD PAGE******************/
.home-page {
  .search-filter-bar {
    padding-bottom: 5px;
    border-bottom: 1px solid $gray-color;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .empty-data {
    margin: 0 auto;
    text-align: center;
    opacity: .7;
  }

  .nav-link:hover {
    border: 0 !important;
  }

  .nav-link {
    margin-bottom: -2px;
    border: 0 !important;
    opacity: .6;
  }

  .nav-link.active {

    border-bottom: 3px solid $theme-color !important;
    border-color: $theme-color;
    opacity: 1.0;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: -2px;
  }

  .filter-sidebar {
    right: 0;
    height: calc(100vh - 191px) !important;
    background: $filter-sidebar-background;
    overflow-y: auto;
  }

  .selected-datasource-text {
    font-size: .7rem;
  }
  @media only screen and (max-width: 768px) and (min-width: 370px) {
    
    .design-smart-frame {
      padding-top: 10px;
    }

  }
  @media (min-width: 768px) {
    .smart-frame-div {
      padding-top: 10px;

    }
  }

}
/************RELATED VARIABLES PAGE******************/
.related-variables-data {
  .variable-description {
    max-height: 45px;
  }
  
  @media (max-width: 768px) {
    .card {
      min-height: 150px;
    }

  }
  @media (min-width: 768px) {
    .card {
      min-height: 170px;
    }

  }
  @media only screen and (max-width: 768px) and (min-width: 370px) {
    .card-footer {
      img {
        width: 100px !important;
      }
    }

    .custom-text-truncate span {
      text-align: center;
    }
  }

  .card-body {
    padding: 0;
  }

  .card-footer,
  .card-header,
  .card-text {
    background: #FFF;
    padding: .3rem;
  }

  .card-title {
    background: #E2F6F9;
    padding: .3rem;
    text-align: center;
    margin-bottom: 0;
    height: 25px;
    display: grid;
    align-items: center;
    overflow: hidden;
  }

  .card-footer {
    img {
      max-width: 100%;
      height: 40px;
    }
  }
}
/************Data Sources PAGE******************/

.datasources-data {
  .card-body {
    padding: 0;
  }

  .datasource-icon {
    margin: 10px 0 0 10px;
    border: 1px solid $gray-color;
    border-radius: 5px;
    text-align: center;
  }

  .card-title {
    margin-bottom: 0;
    padding: 5px 5px 0 0;
  }

  .card img {
    width: 100%;
    padding: 5px;
    max-height: 120px;
    max-width: 120px;
  }
  @media only screen and (max-width: 768px) and (min-width: 370px) {
    .card img {
      width: 80%;
      padding: 5px;
      max-height: 120px;
      max-width: 120px;

    }

  }
}
/************SMART FRAME PAGE******************/
.smart-frame-data {
  .card img {
    width: 100%;
    padding: 5px;
  }

  .card-title {
    margin-bottom: 0;
  }

  .card-body {
    padding: 0;
  }

  .badges-info-box {
    min-height: 75px;
  }
}
/*************Search Filter**************/

.search-filter {
  background-color: $filter-sidebar-background;
  padding-right:1rem !important;
  padding-left:0.5rem !important;
 
  .faceted-header {
    border-bottom: 1px solid $gray-color;

    * {
      margin-bottom: 0 !important;
    }
  }

  .active {
    border-color: $light-green;
    color: $light-green;
  }

  .list-inline-item {
    padding: 2px 0;
  }

  * {
    margin-bottom: 0 !important;
  }
}
