
@import '../../assets/styles/colors.scss';

.custom-badge {
    background: $badge-background;
    padding: 2px 5px;
    font-weight: 400;
    word-wrap:break-word !important;
    max-width:100%;
    border-radius:20px !important;
    padding-top:5px !important;
    padding-bottom:5px !important;
    padding-left:10px !important;
    padding-right:10px !important;
    margin-bottom:5px;
    margin-right:2px;
    margin-left:2px;
  }
  .custom-badge-info{
    background: #FFF;
    padding: 5px 10px;
    font-weight: 400;
    border:1px solid $gray-color;
  }