@import '../../assets/styles/colors.scss';

.header {
  img {
    height: 35px;
    margin-right: 5px;
    display: block;
  }

  .navbar-switchboard {
    background-color: $header-background !important;
    border-top: 4px solid $header-top-border;
  }

  .header-search-input:focus {
    border-color: $gray-color;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .header-search {
    background-color: $white-color !important;
    color: $theme-color;
    font-weight: bold;
  }

  .header-search-icon {
    border-right: none;
    margin-left: -17px;
  }

  .header-search-input {
    border-left: none;
    border-right: none;
  }

  .header-search-text {
    border-left: 2px solid $gray-color;
    border-radius: 0 5px 5px 0;
    margin-right: -17px;
  }

  .cart[data-count]:after {
    position: absolute;
    right: 25%;
    top: 12%;
    content: attr(data-count);
    font-size: 50%;
    padding: 4px;
    border-radius: 50%;
    line-height: 5px;
    background: $red-color;
    text-align: center;
    color: #FFF;
    min-width: 10px;
    font-weight: bold;
  }

  // .router-link {
  //   display: inline-flex;
  //   padding: 0.25em 2em;
  //   margin: 1em;
  //   text-decoration: none;
  //   border-radius: 4px;
  //   -webkit-font-smoothing: antialiased;
  //   -webkit-touch-callout: none;
  //   user-select: none;
  //   cursor: pointer;
  //   outline: 0;
  //   font-weight: bold;
  //   font-size: 16px;
  //   border: 2px solid #41ADDD;
  //   color: #41ADDD;

  //   &:active {
  //     background: #41ADDD;
  //     color: #FFF;
  //   }
  // }
}
