$header-background: #FFF;
$body-background: #FFF;
$theme-color: #5CBACC;
$header-top-border: $theme-color;
$badge-background: #E2F6F9;
$gray-color: rgba(0,0,0,.14);
$red-color: rgba(255, 0, 0, 0.85);
$white-color: #fff;
$footer-background: #2b2926;
$footer-color: #FFF;
$filter-sidebar-background: #fbfcfd;
$checkboxSize: 20px;
$uncheckedBG: #FFF;
$checkedColor: #FFF;
$disabledBG: rgba(0, 0, 0, .35);
$font-size-minimal: .75em;
$font-size-normal: .85em;
$font-size-medium: 1em;
$font-size-large: 1.25em;
$light-green: #72b635;
$thick-green: #00824a;
