@import './colors.scss';

body,
html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
}

body {
  font-family: 'Aller', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

body.fontLoaded {
  font-family: 'Aller', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer {
  margin-top: 10px;
  bottom: 0;
  padding: 10px 5px;
  width: 100%;
}

.header-font-size {
  font-size: $font-size-medium;
}

.header-large-font-size {
  font-size: $font-size-large;
}

.text-font-size {
  font-size: $font-size-minimal;
}

.text-normal-font-size {
  font-size: $font-size-normal;
}

#app {
  background-color: $body-background;
  // min-height: 100%;
  min-width: 100%;
}

label,
p {
  font-family: 'Aller', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

a {
  cursor: pointer;
  color: $theme-color;
}

a:hover {
  text-decoration: none !important;
  color: $light-green;

}

.cursor-pointer {
  cursor: pointer;
}

.half-opacity {
  opacity: .5;
}

.read-more-link,
.show-less-link {
  color: $light-green;

}

.border-all-1 {
  border: 1px solid $gray-color;
  border-radius: 5px;
}

.border-top-shadow-2 {
  -webkit-box-shadow: 0 -0.5rem 1.5rem -0.5rem $gray-color;
  -moz-box-shadow: 0 -0.5rem 1.5rem -0.5rem $gray-color;
  box-shadow: 0 -0.5rem 1.5rem -0.5rem $gray-color;
}

.btn {
  border: 0;
}

.btn-primary {
  background-color: $theme-color !important;
}

.text-theme-color {
  color: $theme-color;
}

.btn-white {
  background-color: $white-color;
  color: $theme-color;
}

.fa-stack {
  width: 1.75em;
  height: 1.75em;
  line-height: 1.5em;
}

.fa-custom {
  font-size: 22px;
}

.fa-custom-close {
  font-size: 15px;
  background: white;
  color: brown;
}

.fa-circle-round {
  color: transparent;
  border: 1px solid $theme-color;
  border-radius: 50px;
}
// Usage: <hr class="hr-text" data-content="AND" />
.hr-text {
  line-height: 5px;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 0;
  opacity: 1.0;

  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 3px;
  }

  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 5px;
    line-height: 5px;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;

  }
}

.custom-text-truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 40px;

  p {
    vertical-align: middle;
  }

  a {
    vertical-align: -webkit-baseline-middle;
    vertical-align: middle;

  }

  span {
    vertical-align: middle;
  }
}

.custom-badge {
  background: $badge-background;
  padding: 2px 5px;
  font-weight: 400;
  word-wrap: break-word !important;
  max-width: 100%;
  border-radius: 20px !important;
  padding: 5px 10px !important;
}

.selected-rv {
  color: $white-color;
  background: $theme-color;
}

.custom-badge-info {
  background: $white-color;
  padding: 5px 10px;
  font-weight: 400;
  border: 1px solid $gray-color;
}
/**burger sidebar**/
.bm-menu-wrap {
  .bm-menu {
    overflow: hidden !important;
  }
}

.bm-burger-button {
  .bm-icon {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;

    &::before {
      content: '\f039';
      font-family: FontAwesome;
      font-size: 15px;
      color: #000;
    }

  }
}

.font-weight-bold {
  font-weight: bold;
}

.react-drawer-overlay {
  z-index: 99;
}

.react-drawer-drawer {
  z-index: 9999;
  background: inherit;
  height: auto;
}

.react-drawer-scroll .react-drawer-drawer {
  background: $filter-sidebar-background;
}

.btn-design-smart-frame {
  margin-bottom: 5px;
  margin-top: 5px;
}

.height-30 {
  height: 30px;
}

.opacity-7 {
  opacity: .7;
}

.no-href {
  color: inherit;
}
// Popover
.rap-manager {
  width: 100%;
  // min-width: 100%;
}

.popover-width-100 {
  max-width: 200%;
  padding: 1px;
  text-align: left;
  white-space: normal;
  min-width: 150%;
}
@media (max-width: 1040px) {
  .popover-width-100 {
    min-width: 150%;
  }

  .btn-responsive {
    padding: 5px 10px;
    font-size: 85% !important;
    line-height: 1;
  }
}
@media (max-width: 986px) {
  .popover-width-100 {
    min-width: 115%;
  }
}
@media (max-width: 768px) {
  .popover-width-100 {
    min-width: 100%;
  }
}
@media (max-width: 576px) {
  .order-sm-1 {
    order: 1;
  }

  .order-sm-0 {
    order: 0;
  }
}

.popover-content {
  background: $white-color;
  z-index: 1;
  margin-top: -1px;
  border: 1px solid $gray-color;
  border-radius: 5px;
}

.popover-header {
  background-color: $theme-color;
  color: $white-color;
}

.btn-white {
  background: $white-color;
  border: 1px solid $gray-color !important;
  margin: 0 auto;
}

.break-word {
  word-wrap: break-word;
}
// iPad Pro Issue
@media only screen and (min-width: 768px) and (max-width: 950px) {
  .landing-page-top-division {
    margin-top: 85px;
  }
  .home-page {
    margin-top: 70px;
  }
  .tabs-wrapper{
    height: 70px;
  }
}