@import 'assets/styles/colors.scss';

.datasource-details-page {
  .datasource-overview-details {
    margin-bottom: 20px;
    position: relative !important;
  }

  .datasource-details-sidebar {
    border-left: 1px solid $gray-color;
  }

  .detail-content {
    display: block !important;
    margin-bottom: 20px;
  }

  .detail-header {
    word-wrap: break-word !important;
    display: block !important;
    margin-bottom: 10px;

    span {
      font-weight: 500;
      color: $gray-color;
    }
  }

  .data-types-details {
    display: inline-block;
  }

  .data-types-details-header {
    font-weight: 600;
  }

  .datasource-icon {
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid $gray-color;
    border-radius: 5px;

    img {
      width: 100%;
      max-height: 140px;
    }

    hr {
      margin-top: 1.5rem !important;
      margin-bottom: 0 !important;
    }

  }

  .preview-data {
    background-color: $white-color;
    border-top: 4px solid $theme-color; 
  }

  .datasource-provider-name-overview > .bottom-border {
    border-bottom: 1px solid $gray-color;
  }
  @media screen and (min-width : 576px) {
    .datasource-provider-name-overview {
      bottom: 0;
      right: 0;
    }
  }
}
